.container{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 500px;
    margin-top: 23%;
    gap: 2px;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 500px;
    margin-top: 1%;
    gap: 2px;
}

.box{
    flex: 4;
    border: 1px;
    border-style: solid;
    border-color: gray;
    box-sizing: border-box;
    min-width: 310px;
    max-width: 300px;
    height: 215px;
    margin: 5px;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

.title{
    font-weight: bolder;
    font-size: 2rem;
}