.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    height: 100px;
    align-items: center;
}

.features{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.img{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    z-index: -1;
}
.logotext{
    flex: 1;
    color: #f4e28f;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0 20px;
    font-family:Papyrus,"Sagoe UI",monospace;
}
.avatar{
    
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    cursor: pointer;
    
  }
  .logoimg{
    flex: 1;
    width: 60px;
    height: auto;
    margin-left: 4%;
  }
  .logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }