.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    height: 100px;
    align-items: center;
}

.features{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.img{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    z-index: -1;
}
.logo{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0 20px;
}
.avatar{
    
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    cursor: pointer;
    
  }