.container{
    width: inherit;
    height: 500px;
    margin-right: 25px;
    margin-top: 10%;
    border: 1px;
    border-radius: 2%;
    border-style: solid;
    border-color: black; 
}

.content{
    display: flex;
    position: relative;
    margin: 10px;
    color: rgb(45, 21, 21);
    width: 100%;
    padding: 10px;   
}

.text{
    width: 540px;
}

.button{ 
    position: absolute;
    top: 350px;
    margin-left: 75%;
    border: 1px;
    border-style: solid;
    border-color: rgb(45, 37, 23);
    border-radius: 6px;
    padding: 4px 18px 4px 0px;
    background-color:burlywood;
    width: 100px;
    text-align: center;
}
.img{
    position: absolute;
    top: 1px;
    right: 4px;
    width: 30px;
    height: auto;
}
