.img {
  width: clamp(100px, 100%, 1200px);
  height: 100%;
  object-fit: cover;
 
}

.container{
  display: flex;
  position: relative;
  display: grid;
  grid-template-areas: "overflow-content";
  gap: 8px;
  margin: auto;
}

.hero_image{
  grid-area: overflow-content;
}


.hero_text{
  grid-area: overflow-content;
  color: #6b3232;
  margin: 9% 5% 2% 15%;
  font-size: 18px;
  width: 80%;
}

/* .container{
  
    display: flex;
    width: 100%;
    max-height: 100%;
}
.wrapper {
    position: relative;
    
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
    
  }

.img{
    width: 600px;
    height: auto;
}
.contentWrapper{
  background-image: url("../../../../public/quote-paper.jpg");

  flex-grow: 1;
} */
/* .content {
    position:absolute;
    top: 10%;
    left: 12%;
    right: 5%;

    color: #6b3232; 
    font-size: 18px; 
    padding: 10px; 
  } */
  .avatar{
    position:absolute;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    margin: 20px;
    margin-top: 8%;
    cursor: pointer;
  }
  .username{ 
    color: rgb(107, 50, 50); 
    cursor: pointer;
    font-size: 18px;
    grid-area: overflow-content;
    color: #6b3232;
    font-size: 18px;
    left: 90%;
    width: 95%;
    text-align: right;
  }


@media screen and (max-width: 640px){
  .container{
    margin: 40px;
  }

  .avatar{
    width: 50px;
    height: 50px;
  } 
}

@media screen and (max-width: 480px){
.container{
  flex-direction: column;
  gap: 15px;
}
  .avatar{
    width: 50px;
    height: 50px;
    margin: 15px;
  } 
  .hero_text{
    margin-left: 20%;
    display: inline;
  }
}