@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --fontFamily: 'Arial';
}
.fontDefault{
  --fontFamily: 'Arial';
}

.fontsegoe{
  --fontFamily:'Papyrus';
}

.container{
  background-color: white;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontFamily);
  overflow-y: scroll;
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  animation: rotation 5s infinite linear;
}
.rotate {
  animation: rotation 5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 600px;
  height: auto;
  justify-content: space-evenly;
}
.sidebar{
  position: fixed;
  top: 20%;
  width: 42%;
  height: 55%;
  left: 75%;
}
.rightbar{
  position: fixed;
  top: 20%;
  width: 42%;
  height: 55%;
  left: 1%;
}

.navbar, .footer {
  position:fixed;
  width: 100%;
  z-index: 2;
}

.navbar {
  top: 0;
}

.footer {
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

@media screen and (max-width: 1024px){
    .sidebar,.rightbar{
      display: none;
    }
}

