
.modal{
    position:fixed;
    width: 45%;
    height: 86%;
    left: 27%;
   right: auto;
   top: 14%;
   padding: 10px;
   bottom: 1%;
    background-color: #faeace;
    box-shadow: #bbbbbb;
   
}
.button{
    border-radius: 50%;
    border:#eaca94;
    border-style: solid; 
    position: fixed;
    top: 83%;
    left: 5%;
    min-width: 90px;
    min-height: 90px;
    background-color: #eaca94;
}
.img{
    /* background-color: #6b3232; */
   
    width: 70px;
    height: 70px;
    padding: 5px;
}