.container{
    position: fixed;
    height: 60%;
    width: 20%;
    /* background-color: rgba(240, 231, 166, 0.2); */
}
.listItem{
    display: flex;
    gap: 10px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
    padding: 6px;
    text-align:justify;
    color: black;
   font-family:Papyrus,"Sagoe UI",monospace;
   font-weight: bold;
}