.container{
    position: relative;
    background-color: beige;

    color: black;
    width: 23%;
    max-height: 80%;
    left: 100%;
    padding: 8px;
   margin-right: 45%;
   color: #6b3232;
   font-size: medium;
   display: flex;
}
.dictionary{    
    position: fixed;
    top: 20%;
    right: 1%;
    background-color: beige;
    width: inherit;
    padding: 8px;
}